In [1]:
!pip install polars

Requirement already satisfied: polars in /opt/conda/lib/python3.11/site-packages (1.4.1)

In [2]:
import polars as pl
import seaborn as sns

# Explore Taxa in [TreeOfLife-10M](https://huggingface.co/datasets/imageomics/TreeOfLife-10M)

Exploring the taxa in BeetlePalooza dataset that is in TreeOfLife-10M training set (CSVs from [here](https://github.com/Imageomics/BeetlePalooza-2024/issues/10#issuecomment-2272214418), were created by filtering the TreeOfLife-10M [catalog](https://huggingface.co/datasets/imageomics/TreeOfLife-10M/blob/main/metadata/catalog.csv) for the `<genus species>` pairs and just `<genus>` that were in the [Beetle CSV](https://huggingface.co/datasets/imageomics/2018-NEON-beetles/blob/main/BeetleMeasurements.csv)).

In [3]:
df_genus = pl.read_csv("data/Beetle_genus_overlap_tol.csv", low_memory = False)
df_sciName = pl.read_csv("data/Beetle_sciName_overlap_tol.csv", low_memory = False)

In [4]:
df_genus.head()

shape: (5, 18)
┌───────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ split ┆ treeoflife ┆ eol_conten ┆ eol_page_i ┆ … ┆ genus     ┆ species   ┆ common    ┆ sciName   │
│ ---   ┆ _id        ┆ t_id       ┆ d          ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str   ┆ ---        ┆ ---        ┆ ---        ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
│       ┆ str        ┆ f64        ┆ f64        ┆   ┆           ┆           ┆           ┆           │
╞═══════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ train ┆ 7a5dcb0c-0 ┆ 2.7776258e ┆ 1.014588e6 ┆ … ┆ Carabus   ┆ nemoralis ┆ Wood Grou ┆ Carabus   │
│       ┆ bc9-4d20-8 ┆ 7          ┆            ┆   ┆           ┆           ┆ nd-beetle ┆ nemoralis │
│       ┆ f07-64340a ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 5dd09d72-1 ┆ 2.7813566e ┆ 1.015759e6 ┆ … ┆ Calathus  ┆ opaculus  ┆ Calathus  ┆ Calathus  │
│       ┆ aec-418f-b ┆ 7          ┆            ┆   ┆           ┆           ┆ opaculus  ┆ opaculus  │
│       ┆ 035-7203a9 ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 65796502-0 ┆ 2.0380197e ┆ 1.03642e6  ┆ … ┆ Cicindela ┆ amargosae ┆ Nye Tiger ┆ Cicindela │
│       ┆ 993-4f79-9 ┆ 7          ┆            ┆   ┆           ┆           ┆ Beetle    ┆ amargosae │
│       ┆ 5cc-19221d ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ ca4dbb32-2 ┆ 2.0806174e ┆ 1.035962e6 ┆ … ┆ Dicaelus  ┆ teter     ┆ Dicaelus  ┆ Dicaelus  │
│       ┆ d98-449e-9 ┆ 7          ┆            ┆   ┆           ┆           ┆ teter     ┆ teter     │
│       ┆ 8c6-57d025 ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 42711a3e-2 ┆ 2.8558708e ┆ 1.037168e6 ┆ … ┆ Amara     ┆ gibba     ┆ Amara     ┆ Amara     │
│       ┆ f76-4ba8-a ┆ 7          ┆            ┆   ┆           ┆           ┆ gibba     ┆ gibba     │
│       ┆ 65b-3b8f62 ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
└───────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [6]:
TAXA_COLS = ["kingdom", "phylum", "class", "order", "family", "genus", "species", "common"]

In [9]:
df_genus[TAXA_COLS].count()

shape: (1, 8)
┌─────────┬────────┬───────┬───────┬────────┬───────┬─────────┬────────┐
│ kingdom ┆ phylum ┆ class ┆ order ┆ family ┆ genus ┆ species ┆ common │
│ ---     ┆ ---    ┆ ---   ┆ ---   ┆ ---    ┆ ---   ┆ ---     ┆ ---    │
│ u32     ┆ u32    ┆ u32   ┆ u32   ┆ u32    ┆ u32   ┆ u32     ┆ u32    │
╞═════════╪════════╪═══════╪═══════╪════════╪═══════╪═════════╪════════╡
│ 27485   ┆ 27485  ┆ 27485 ┆ 27485 ┆ 27485  ┆ 27577 ┆ 27260   ┆ 27577  │
└─────────┴────────┴───────┴───────┴────────┴───────┴─────────┴────────┘

In [12]:
for col in TAXA_COLS:
    print(f"{col} has {df_genus[col].n_unique()} unique values")

kingdom has 2 unique values
phylum has 2 unique values
class has 2 unique values
order has 2 unique values
family has 2 unique values
genus has 34 unique values
species has 1501 unique values
common has 1703 unique values

Why are there 2 kingdoms? Interesting.

In [15]:
print(df_genus["kingdom"].unique())

shape: (2,)
Series: 'kingdom' [str]
[
	"Animalia"
	null
]

In [19]:
for col in TAXA_COLS:
    print(f"{col} has {df_genus.select(col).filter(pl.col(col).is_not_null()).n_unique()} unique values")

kingdom has 1 unique values
phylum has 1 unique values
class has 1 unique values
order has 1 unique values
family has 1 unique values
genus has 34 unique values
species has 1500 unique values
common has 1703 unique values

In [21]:
df_genus["family"].unique()

shape: (2,)
Series: 'family' [str]
[
	null
	"Carabidae"
]

In [23]:
for genus in df_genus["genus"].unique():
    print(genus)

Amphasia
Sphaeroderus
Poecilus
Promecognathus
Cymindis
Omus
Discoderus
Euryderus
Cratacanthus
Calathus
Tetracha
Amara
Selenophorus
Chlaenius
Loxandrus
Bembidion
Pasimachus
Pterostichus
Elaphropus
Apristus
Axinopalpus
Agonum
Carabus
Syntomus
Scarites
Scaphinotus
Cyclotrachelus
Synuchus
Harpalus
Tetragonoderus
Cicindela
Calosoma
Dicaelus
Anisodactylus

[This](https://huggingface.co/datasets/imageomics/2018-NEON-beetles/blob/main/group_images/A00000003356.jpg) is the one genus not represented (Paraclivina), which is only labeled to genus level in biorepository and has only one individual. The other "missing genus" is for a sample only labeled to "Carabidae", so that wound up in genus label, but is not actually the genus; it's the family. These are from images A00000095905.jpg, A00000095368.jpg, and A00000055119.jpg, and each has only two annotations (suggesting just one beetle per image).

In [25]:
for genus in df_genus["genus"].unique():
    print(f"{genus} has {df_genus.filter(pl.col('genus') == genus).n_unique()} images in training set")

Chlaenius has 1156 images in training set
Apristus has 44 images in training set
Pterostichus has 1871 images in training set
Calathus has 421 images in training set
Loxandrus has 224 images in training set
Scarites has 371 images in training set
Agonum has 1070 images in training set
Elaphropus has 150 images in training set
Synuchus has 76 images in training set
Cratacanthus has 23 images in training set
Dicaelus has 256 images in training set
Tetragonoderus has 110 images in training set
Bembidion has 1959 images in training set
Carabus has 3718 images in training set
Sphaeroderus has 142 images in training set
Cymindis has 168 images in training set
Omus has 141 images in training set
Poecilus has 412 images in training set
Pasimachus has 312 images in training set
Calosoma has 1337 images in training set
Promecognathus has 51 images in training set
Anisodactylus has 437 images in training set
Scaphinotus has 608 images in training set
Euryderus has 27 images in training set
Cicindela has 8515 images in training set
Syntomus has 94 images in training set
Amphasia has 75 images in training set
Cyclotrachelus has 229 images in training set
Axinopalpus has 50 images in training set
Harpalus has 1408 images in training set
Discoderus has 52 images in training set
Amara has 1507 images in training set
Selenophorus has 152 images in training set
Tetracha has 411 images in training set

Let's save this info into a CSV for easier reference.

In [42]:
genus_count = {}
for genus in df_genus["genus"].unique():
    genus_count[genus] = df_genus.filter(pl.col('genus') == genus).n_unique()

In [43]:
print(list(genus_count.keys()))
print(genus_count.values())

['Calathus', 'Axinopalpus', 'Loxandrus', 'Omus', 'Apristus', 'Amphasia', 'Cyclotrachelus', 'Sphaeroderus', 'Poecilus', 'Scarites', 'Tetracha', 'Euryderus', 'Cymindis', 'Dicaelus', 'Synuchus', 'Cratacanthus', 'Carabus', 'Anisodactylus', 'Pterostichus', 'Amara', 'Tetragonoderus', 'Promecognathus', 'Elaphropus', 'Selenophorus', 'Chlaenius', 'Cicindela', 'Pasimachus', 'Scaphinotus', 'Calosoma', 'Harpalus', 'Bembidion', 'Agonum', 'Discoderus', 'Syntomus']
dict_values([421, 50, 224, 141, 44, 75, 229, 142, 412, 371, 411, 27, 168, 256, 76, 23, 3718, 437, 1871, 1507, 110, 51, 150, 152, 1156, 8515, 312, 608, 1337, 1408, 1959, 1070, 52, 94])

In [44]:
count_df = pl.DataFrame(data = {"genus": list(genus_count.keys()),
                                "num_images": list(genus_count.values())})
count_df.head()

shape: (5, 2)
┌─────────────┬────────────┐
│ genus       ┆ num_images │
│ ---         ┆ ---        │
│ str         ┆ i64        │
╞═════════════╪════════════╡
│ Calathus    ┆ 421        │
│ Axinopalpus ┆ 50         │
│ Loxandrus   ┆ 224        │
│ Omus        ┆ 141        │
│ Apristus    ┆ 44         │
└─────────────┴────────────┘

In [47]:
count_df.write_csv("data/genus_counts_inToL.csv")

In [13]:
df_sciName[TAXA_COLS].count()

shape: (1, 8)
┌─────────┬────────┬───────┬───────┬────────┬───────┬─────────┬────────┐
│ kingdom ┆ phylum ┆ class ┆ order ┆ family ┆ genus ┆ species ┆ common │
│ ---     ┆ ---    ┆ ---   ┆ ---   ┆ ---    ┆ ---   ┆ ---     ┆ ---    │
│ u32     ┆ u32    ┆ u32   ┆ u32   ┆ u32    ┆ u32   ┆ u32     ┆ u32    │
╞═════════╪════════╪═══════╪═══════╪════════╪═══════╪═════════╪════════╡
│ 2968    ┆ 2968   ┆ 2968  ┆ 2968  ┆ 2968   ┆ 2968  ┆ 2968    ┆ 2968   │
└─────────┴────────┴───────┴───────┴────────┴───────┴─────────┴────────┘

In [20]:
for col in TAXA_COLS:
    print(f"{col} has {df_sciName.select(col).filter(pl.col(col).is_not_null()).n_unique()} unique values")

kingdom has 1 unique values
phylum has 1 unique values
class has 1 unique values
order has 1 unique values
family has 1 unique values
genus has 30 unique values
species has 66 unique values
common has 67 unique values

# Let's Look at the representation of the Family (Carabidae) in the full catalog

In [29]:
df = pl.read_csv("https://huggingface.co/datasets/imageomics/TreeOfLife-10M/resolve/main/metadata/catalog.csv",
                 low_memory = False).filter((pl.col("family") == "Carabidae") & (pl.col("split") != "train_small"))

df.head()

shape: (5, 17)
┌───────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ split ┆ treeoflife ┆ eol_conten ┆ eol_page_i ┆ … ┆ family    ┆ genus     ┆ species   ┆ common    │
│ ---   ┆ _id        ┆ t_id       ┆ d          ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str   ┆ ---        ┆ ---        ┆ ---        ┆   ┆ str       ┆ str       ┆ str       ┆ str       │
│       ┆ str        ┆ f64        ┆ f64        ┆   ┆           ┆           ┆           ┆           │
╞═══════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ train ┆ 7a5dcb0c-0 ┆ 2.7776258e ┆ 1.014588e6 ┆ … ┆ Carabidae ┆ Carabus   ┆ nemoralis ┆ Wood Grou │
│       ┆ bc9-4d20-8 ┆ 7          ┆            ┆   ┆           ┆           ┆           ┆ nd-beetle │
│       ┆ f07-64340a ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 9a6a23d5-9 ┆ 2.0124362e ┆ 6.4677644e ┆ … ┆ Carabidae ┆ Trechus   ┆ clairvill ┆ Trechus   │
│       ┆ 010-461e-a ┆ 7          ┆ 7          ┆   ┆           ┆           ┆ e         ┆ clairvill │
│       ┆ 62a-7376dd ┆            ┆            ┆   ┆           ┆           ┆           ┆ e         │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 384583c1-7 ┆ 2.8636308e ┆ 5.2609173e ┆ … ┆ Carabidae ┆ Platynus  ┆ jamaicae  ┆ Platynus  │
│       ┆ 780-4d28-8 ┆ 7          ┆ 7          ┆   ┆           ┆           ┆           ┆ jamaicae  │
│       ┆ 23a-34e0db ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 5dd09d72-1 ┆ 2.7813566e ┆ 1.015759e6 ┆ … ┆ Carabidae ┆ Calathus  ┆ opaculus  ┆ Calathus  │
│       ┆ aec-418f-b ┆ 7          ┆            ┆   ┆           ┆           ┆           ┆ opaculus  │
│       ┆ 035-7203a9 ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
│ train ┆ 9014f4e1-7 ┆ 1.3606588e ┆ 3.2200886e ┆ … ┆ Carabidae ┆ Mecycloth ┆ tutei     ┆ Mecycloth │
│       ┆ 21f-4153-a ┆ 7          ┆ 7          ┆   ┆           ┆ orax      ┆           ┆ orax      │
│       ┆ c58-529e20 ┆            ┆            ┆   ┆           ┆           ┆           ┆ tutei     │
│       ┆ …          ┆            ┆            ┆   ┆           ┆           ┆           ┆           │
└───────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [30]:
df["genus"].n_unique()

688

In [31]:
df.count()

shape: (1, 17)
┌───────┬───────────────┬────────────────┬─────────────┬───┬────────┬───────┬─────────┬────────┐
│ split ┆ treeoflife_id ┆ eol_content_id ┆ eol_page_id ┆ … ┆ family ┆ genus ┆ species ┆ common │
│ ---   ┆ ---           ┆ ---            ┆ ---         ┆   ┆ ---    ┆ ---   ┆ ---     ┆ ---    │
│ u32   ┆ u32           ┆ u32            ┆ u32         ┆   ┆ u32    ┆ u32   ┆ u32     ┆ u32    │
╞═══════╪═══════════════╪════════════════╪═════════════╪═══╪════════╪═══════╪═════════╪════════╡
│ 49220 ┆ 49220         ┆ 42424          ┆ 42424       ┆ … ┆ 49220  ┆ 48581 ┆ 47067   ┆ 49220  │
└───────┴───────────────┴────────────────┴─────────────┴───┴────────┴───────┴─────────┴────────┘

In [32]:
df_genus.count()

shape: (1, 18)
┌───────┬───────────────┬────────────────┬─────────────┬───┬───────┬─────────┬────────┬─────────┐
│ split ┆ treeoflife_id ┆ eol_content_id ┆ eol_page_id ┆ … ┆ genus ┆ species ┆ common ┆ sciName │
│ ---   ┆ ---           ┆ ---            ┆ ---         ┆   ┆ ---   ┆ ---     ┆ ---    ┆ ---     │
│ u32   ┆ u32           ┆ u32            ┆ u32         ┆   ┆ u32   ┆ u32     ┆ u32    ┆ u32     │
╞═══════╪═══════════════╪════════════════╪═════════════╪═══╪═══════╪═════════╪════════╪═════════╡
│ 27577 ┆ 27577         ┆ 21417          ┆ 21417       ┆ … ┆ 27577 ┆ 27260   ┆ 27577  ┆ 27260   │
└───────┴───────────────┴────────────────┴─────────────┴───┴───────┴─────────┴────────┴─────────┘

In [33]:
# Beetles not labeled to genus level
df.filter(pl.col("genus").is_null()).count()

shape: (1, 17)
┌───────┬───────────────┬────────────────┬─────────────┬───┬────────┬───────┬─────────┬────────┐
│ split ┆ treeoflife_id ┆ eol_content_id ┆ eol_page_id ┆ … ┆ family ┆ genus ┆ species ┆ common │
│ ---   ┆ ---           ┆ ---            ┆ ---         ┆   ┆ ---    ┆ ---   ┆ ---     ┆ ---    │
│ u32   ┆ u32           ┆ u32            ┆ u32         ┆   ┆ u32    ┆ u32   ┆ u32     ┆ u32    │
╞═══════╪═══════════════╪════════════════╪═════════════╪═══╪════════╪═══════╪═════════╪════════╡
│ 639   ┆ 639           ┆ 170            ┆ 170         ┆ … ┆ 639    ┆ 0     ┆ 0       ┆ 639    │
└───────┴───────────────┴────────────────┴─────────────┴───┴────────┴───────┴─────────┴────────┘

This suggests that there are about 21K images representing genera not in the BeetleMeasurements CSV.